.container {
  display: flex;
  width: 50%;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.card {
  border: none;
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 0.5rem;
  background-color: transparent;
  text-align: center;
  line-height: 8rem;
  color: #ecf0f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  perspective: 1000px;

}
.card-content {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, .5);
  transition: all 2s;
  
  position:absolute;
  top:0;
  left:0;
  width:100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 0.8rem;
}



.face--front {
  background: #2c3e50;
  font-size: 1.5rem;

}

.face--back {
  background: #2c3e50;
  font-size: 1.5rem;
  transform:rotateY(180deg);

}



.card:hover .face--front {
  transform: rotateY(-180deg);
}

.card:hover .face--back {
  transform: rotateY(0);
}



body {
  padding: 20px;
  background-color: rgb(230, 230, 230);
}

button {
  margin-right: 10px;
}

.btn {
  background-color: rgb(99, 4, 23);
  color: aliceblue;

}

/*.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
  }*/